{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock %}

{% block content %}
<div class="position-relative">
<div class="card w-50 text-dark bg-light mb-3 position-absolute top-50 start-50 translate-middle-x">
  <div class="card-body">
  	<h5 class="card-title mb-3">Change your password</h5>
  	<p>Use the form below to change your password.</p>
	<hr>
    <form method="post">
		{{ form|crispy }}
		{% csrf_token %}
		<hr>
		<div class="d-flex justify-content-end">
			<button type="submit" class="btn btn-outline-success">Change</button>
		</div>
	</form>
  </div>
</div>
</div>
{% endblock %}

