{% extends 'base.html' %}


{% block content %}
	<h1>Images Bookmarked</h1>
	<hr>
	<div id="image-list" class="row row-cols-1 row-cols-md-5 g-3 mt-5">
		{% include 'images/image/list_ajax.html' %}
	</div>
{% endblock content %}


{% block domready %}
	console.log('ok')
	var page = 1;
	var empty_page = false;
	var block_request = false;

	$(window).scroll(function(){
		var margin = $(document).height() - $(window).height() - 200;
		if($(window).scrollTop() > margin && block_request == false && empty_page == false) {
			block_request = true;
			page += 1;
			$.get('?page=' + page, function(data){
				if(data == '') {
					empty_page = true;
				}
				else {
					block_request = false;
					$('#image-list').append(data);
				}
			});
		}
	}); 

{% endblock domready %}

